<div class="container-cards">

  <div *ngFor="let food of foodItem" class="card" [ngClass]="
  {
    'breakfast':foodListType === 'breakfast',
    'branch':foodListType === 'branch',
    'lunch':foodListType === 'lunch',
    'afternoon-snack':foodListType === 'afternoon-snack',
    'dinner':foodListType === 'dinner'
  }">
    <div class="top"></div>
    <div class="header">
      <p class="food-name">{{food.$key}}</p>
    </div>
    <div class="food-img">
      <img draggable="false" src="{{food.imagen}}" alt="">
    </div>
    <div class="food-info">
      <ul class="list-info">
        <li class="macronutrients"> 
          <b>Kcal: </b>{{food.info.kcal}}
        </li>
        <li class="macronutrients">
          <b>Grasas: </b> {{food.info.fat}}
        </li>
        <li class="macronutrients">
          <b>Carbohidratos: </b> {{food.info.carbohydrates}}
        </li>
        <li class="macronutrients">
          <b>Proteinas: </b> {{food.info.proteins}}
        </li>
      </ul>
    </div>
  </div>
</div>
<app-floating-icons></app-floating-icons>