<div class="container__icons">
    <div class="icons--left">
        <div class="icon icon-save">
    <img class="icon-img" src="../assets/images/floppy-disk.png">
  </div>
        <div class="icon icon-back">
    <img class="icon-img" src="../assets/images/return.png">
  </div>
    </div>
    <div class="icons--right">
        <div class="icon icon-diet">
    <img class="icon-img" src="../assets/images/add.png">
  </div>
        <div class="icon icon-plus">
    <img class="icon-img" src="../assets/images/check-list.png">
  </div>
    </div>
</div>