<div class="container__icons">
    <div class="icons--left">        
        <div class="icon icon-back">
            <a href="/home"><img class="icon-img" src="../assets/images/return.png"></a>
        </div>
    </div>
    <div class="icons--right">
        <div class="icon icon-save">
            <img class="icon-img" src="../assets/images/floppy-disk.png">
        </div>
        <div class="icon icon-diet">
            <a routerLink="/food-add"><img class="icon-img" src="../assets/images/add.png"></a>
        </div>        
    </div>
</div>