<app-title></app-title>
<div class="container-comidas">
  <a href="/food-list" class="link comidas-desayuno">
    <img src="../assets/images/coffee.png" alt="desayuno">
    <p class="comidas-title">Desayuno</p>
  </a>
  <a href="#" class="link comidas-almuerzo">
    <img src="../assets/images/loaf.png" alt="almuerzo">
    <p class="comidas-title">Almuerzo</p>
  </a>
  <a href="#" class="link comidas-comida">
    <img src="../assets/images/steak.png" alt="comida">
    <p class="comidas-title">Comida</p>
  </a>
  <a href="#" class="link comidas-merienda">
    <img src="../assets/images/apple.png" alt="merienda">
    <p class="comidas-title">Merienda</p>
  </a>
  <a href="#" class="link comidas-cena">
    <img src="../assets/images/salad.png" alt="cena">
    <p class="comidas-title">Cena</p>
  </a>
</div>