<app-title [title]="'Comidas del día'"></app-title>
<div class="container-comidas">
  <a routerLink="/food-list/breakfast" class="link comidas-desayuno">
    <img src="../assets/images/coffee.png" alt="desayuno">
    <p class="comidas-title">Desayuno</p>
  </a>
  <a routerLink="/food-list/branch" class="link comidas-almuerzo">
    <img src="../assets/images/loaf.png" alt="almuerzo">
    <p class="comidas-title">Almuerzo</p>
  </a>
  <a routerLink="/food-list/lunch" class="link comidas-comida">
    <img src="../assets/images/steak.png" alt="comida">
    <p class="comidas-title">Comida</p>
  </a>
  <a routerLink="/food-list/afternoon-snack" class="link comidas-merienda">
    <img src="../assets/images/apple.png" alt="merienda">
    <p class="comidas-title">Merienda</p>
  </a>
  <a routerLink="/food-list/dinner" class="link comidas-cena">
    <img src="../assets/images/salad.png" alt="cena">
    <p class="comidas-title">Cena</p>
  </a>
</div>