<form class="container-card">
  <div class="card">
    <div class="top"></div>
    <div class="header">
      <input type="text" placeholder="Nombre...">
    </div>
    <div class="food-img">
      <input type="text" placeholder="Imagen url...">
    </div>
    <div class="food-info">
      <input type="text" placeholder="Kcal...">
      <input type="text" placeholder="Grasas...">
      <input type="text" placeholder="Carbohidratos...">
      <input type="text" placeholder="Proteinas...">        
    </div>
  </div>
</form>
<app-floating-icons></app-floating-icons>